* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #63686d;
}

body {
  color: #63686d;
}

.finance-header {
  background: rgb(43, 134, 248);
  background: linear-gradient(
    139deg,
    rgba(43, 134, 248, 1) 0%,
    rgba(60, 209, 231, 1) 100%
  );
  color: white;
}

.topbar {
  display: flex;
  padding: 32px 16px;
  justify-content: space-between;
}

.header-content {
  padding: 0 16px 64px 16px;
}

.topbar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sub-section {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistic-section > img {
  margin: 0 16px;
}

.activity-container {
  display: flex;
  margin: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 12px;
  gap: 16px;
}

.activity-container > div > img {
  background-color: #dff0fa;
  border-radius: 100%;
  padding: 8px;
  width: 32px;
}

.right-side-card {
  width: 100%;
}

.upper-half {
  display: flex;
  justify-content: space-between;
}

.bottom-half {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bottom-half > div {
  display: flex;
}

.bottom-half > div > img {
  width: 1.1rem;
}

.topbar > img,
.topbar > div > a > img {
  width: 2.2rem;
  display: flex;
  align-items: center;
}

.s-font {
  font-size: 12px;
}

.blue {
  color: #2969cb;
}

.red {
  color: #c54261;
}
